/BuildModelResult.log
/BuildModelResult.xml
/BuildProjectResult.log
/BuildProjectResult.xml
/bin
/XppMetadata
/BPCheck.xml
*.xref
/BuildProjectResult.err.xml
/BuildModelResult.err.xml
/CompileLabels.xml
/Resources
